div#wrapper {
	margin: auto;
	width: 900px;
}
h3{
	margin: 0px 30px;
	padding: 0px 0px;
}

li {
margin: 0px 80px;
padding: 0px 0px;
}

table{
	margin: 0px 30px;
	padding: 0px 0px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
}

p {
	padding: 0.5em 0;
	line-height:150%
}

a {
	color: #00688B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
  color: #c1e1a6;
}

td {
	line-height:150%
}

ul {
	line-height:200%
}

ol {
	line-height:200%
}

.box {
	background-color: white;
	margin: 0 0 55px;
	display: flex;
	
}

.box-11 {
	align-items: flex-start;
}

.box-item {
	width: 95px;
	height: 50px;
	/* line-height: 200px; */
	vertical-align: middle;
	/* margin: 5px; */
	/* background-color: #ffd200; */
	/* font-size: 100px; */
	/* color: white; */
	text-align: left;
}

.item-tall {
	width: 600px;
	height: 50px;
	line-height: 150%;
}

div#header {
	height: 300px;
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
	font-size: 12pt;
	background-color: #ffffff;
	padding: 2em 0 0 0;
}
	

div#contact {
	float: none;
	padding: 3em 0 1em 2em;
    line-height: 120%;
    font-size: 12pt; 
}

div#profile {
	float: left;
	padding: 10px 50px 0 40px;
}



div#content {
	float: none;
	background-color: #ffffff; 
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
  line-height: 120%;
  padding: 0;
}

div.section{
	float: none;
	margin: 2em;
}

div.abstract {
	margin: 1em 0em 0em 1.5em;
}

div.bib{
	font-size: 14px;
	margin: 1em 0em 0em 1.5em;
}

div.section_title {
	float: none;
	background-color: #ffffff; 
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15pt;
  padding: 0;
}

.author {
  color: #5b2503;
}

.award {
  font-weight: bold;
  color: #000000;
}


.accordion-content {
	display: none;
	overflow: hidden;
	padding: 10px;
}

.accordion-toggle {
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	border: none;
	background: #f7f7f7;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #ddd;
}